@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue Regular.woff2") format("woff2"),
       url("../fonts/BebasNeue Regular.woff") format("woff");
}

@font-face {
  font-family: "Akzi";
  src: url("../fonts/AkzidenzGroteskBQ-XBdCnd.woff2") format("woff2"),
       url("../fonts/AkzidenzGroteskBQ-XBdCnd.woff") format("woff");
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color:inherit;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Akzi",sans-serif;
	text-transform: uppercase;
	margin: 0;
}

h2 {

}

button,
input,
textarea {
	  font-family: "BebasNeue", sans-serif;
}

.container {
	max-width:900px;
	padding: 0 15px;
	margin: 0 auto;
}

/*START-HEADER====================================================================================*/

.header {
	padding-top: 30px;
	padding-bottom: 35px;
}

/*header_top==============================*/

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__top-btn {
	border: none;
	background-color: #FFF;
	color: #000;
	font-size: 10px;
	padding: 5px;
	/*display: block;
	h20+w*/
	font-family: 'Bebas',sans-serif;
}

.header__top-btn+.header__top-btn {
	margin-left: 10px;
}

.header__top-btn--active {
	background-color: #000;
	color: #FFF;
}

.header__top-onlain {
	font-family: "Akzi",sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	padding-bottom: 2px;
	border-bottom: 1px solid #000;
}

/*header__bottom===============================*/

.header__bottom {
	display: flex;
	align-items: center;
	margin: -25px 0 0 0 ;
}

.menu {
	flex: 1 1 33.33333%;
}

.menu__item {
	display: flex;
}

.menu__list+.menu__list {
	margin-left: 45px;
}

.menu__list {
	font-family: "Akzi",sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.09em;
}

.menu__item_left {
	justify-content: flex-end;
}

.header__logo {
	text-align: center;
}

.logo-span {
	font-family: 'Bebas',sans-serif;
	font-size: 8px;
	display: block;
	line-height: 25px;
	letter-spacing: 0.5em;
}

/*STOP-HEADER==========================================================================================*/
/*START-PRIVATE===========================================================================================*/
.private {}

.private__inner {
	display: flex;
}

.private__img {
	flex: 1 1 50%;
}

img{
	width: 100%;
}

.private__content {
	flex: 1 1 50%;
	padding: 75px 10px 50px 55px;
	color: #FFF;
	background-color: #000;
}

h1 {
	font-family: "Akzi",sans-serif;
	font-size: 50px;
}

.private__title {
	font-family: "Akzi",sans-serif;
	font-size: 50px;
	width: 218px;
	margin-bottom: 14px;
}

.private-text {
	font-size: 15px;
	margin-bottom: 12px;
	max-width: 315px;
	width: 100%;
	line-height: 25px;
}

.private-btn {
	display: flex;
}

.private-btn__btn + .private-btn__btn {
	margin-left: 4px;
}

.private-btn__btn {
	color: #000;
	background-color: #fff;
}

.btn {
	display: block;
	width: 156px;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
	font-size: 15px;
	font-weight: 600;
	border: none;
	cursor : pointer;
}

.private-btn__btn_nocolor {
	background-color: transparent;
	color: #fff;
	transition: all .3s ease;
}

.private-btn__btn_nocolor:hover {
	background-color: #fff;
	color: #000;
}

/*STORT-PRIVATE=========================================================================*/
/*START-OVERMENU=========================================================================*/

.overmenu {
	padding: 50px 0 80px;
}
.overmenu__inner {}

.overmenu-top {
	height: 25px;
	background-color: #000;
}

.overmenu__bottom {
	display: flex;
}

.overmenu-item {
	flex: 1 1 220px;
	padding-bottom: 10px;	
	display: flex;	
	flex-direction: column;
}

.overmenu-item-img {
	width: 100%;
}

.overmenu-item__content {
	padding: 19px 9px 0 0;
	height: 100%;	
	display: flex;	
	flex-direction: column;	
}

.overmenu-item__content-title {
	font-size: 25px;
	letter-spacing: 0.07em;
	margin-bottom: 25px;		
}

.overmenu-item__content-text {
	font-size: 15px;
	line-height: 25px;	
	margin-bottom: 20px;
	flex: 1 1 auto;
}

.overmenu-item__content-but {
	color: #fff;
	background-color: #000;
	margin-bottom: 26px;
	transition: all .3s ease;	
}

.overmenu-item__content-but:hover {
	background-color: #999;
}

.overmenu-item__content-menu {
	font-family: 'Bebas',sans-serif;
	font-weight: 600;
	text-transform: uppercase;		
	font-size: 15px;
	text-decoration: underline;
}

/*STOP-OVERMENU============================================================*/
/*START-CHOOSE============================================================*/

.choose {

}
.choose__inner {
	display: flex;
}
.choose-content {
	background-color: #000;
	flex: 0 1 50%;
	display: flex;
	padding-right: 60px;
	flex-direction: column;
	align-items: flex-end;
  justify-content: center;
}

.choose-wrap {
	
}

h1.choose-content__title {
	color: #fff;
}

.choose-img {
	flex: 0 1 50%;
}
.choose-img__img {}